html {
    background: #FFF;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    background-color: #FFF;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-login-img {
    height: 100vh;

}

.form-login-wrapper {
    margin-top: 10rem !important;
    margin-left: 4rem !important;
}

.form-login {
    margin-top: 5rem;
}

.form-login-btn {
    background: #9B9B9B;
    border: 1px solid #9B9B9B;
    padding: 10px;
    width: 10rem

}

.form-login-wrapper .input-form {
    color: #9B9B9B !important;
    font-size: 14px;
    border: 1px solid #9B9B9B !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
}

.header-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #4061A6;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.title-text {
    position: relative;

    /*width: 576.81px;*/
    /*height: 100px;*/
    /*left: 432px;*/
    /*top: 153px;*/

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */

    text-align: center;
}

.table-wrapper {
    padding: 15px 45px 15px 45px !important;
}

.party-table {
    border: 1px solid #E9E9E9 !important;
    /*border-collapse: separate;*/


}

.party-img {
    width: 100px;
    border: none !important
}


.party-text {
    margin-top: 41px;
    font-size: 1rem;
    color: #243760;
    float: left;
    margin-left: 15px;
}

.party-table-tag {
    margin-top: -12px;
    padding: 0px;
    height: 60px;
}

.party-thead th.header-text {
    border-bottom: 2px solid #DFDFDF;


}

.party-thead h5 {
    font-weight: bold;
    color: #243760;
}

.party-table thead {
    /*border-collapse: collapse !important;*/
}

.dot-blue {
    color: #4061A6;
    font-size: 12px;
}

.dot-red {
    color: #DC353B;
    font-size: 12px;
}

.dot-green {
    color: #74DC35;
    font-size: 12px;
}


.top-content {
    background: #4061A6
}

.top-content-text-warp {
    width: 10rem;
    border-bottom: 1px solid #FFFFFF;
    margin-right: 3rem;
}

.top-content-text {
    color: #FFF;
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: 5px !important;
    font-weight: bold;

}

.top-content hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, .1);
    background: red;
    width: 100px;
    float: left;
    padding: 0px;
    position: absolute;
    /*top: 0px;*/
    bottom: 1rem;
    margin-left: -4px;
}

.text-header-warpper {
    color: #4061A6;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.page-link {
    border: none !important;
}


.page-item.active a{
    color:#4061A6;
}
.page-item a{
    color: #BEBEBE;
    padding: 10px;
}
.link .disabled img{
    fill:#DADADA;
}