html{
    background:#F2F2F2;
}
body {
  font-family: 'Sarabun', sans-serif;
  font-size: 14px;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background:#F2F2F2;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-login-img{
    height: 100vh;

}

.form-login-wrapper{
  margin-top: 10rem !important;
  margin-left: 4rem !important;
} 

.form-login{
    margin-top: 5rem;
}

.form-login-btn{
    background: #9B9B9B;
    border: 1px solid  #9B9B9B;
    padding: 10px;
    width: 12rem;
    
}

.form-login-wrapper  .input-form {
    color: #9B9B9B !important;
    font-size:14px;
    border:  1px solid #9B9B9B !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
}

.form-login-wrapper i{
    color: #9B9B9B;
    font-size: 1.2rem;
    padding-left: 5px;
    opacity: 0.8;
}

.form-login-wrapper input{
    border:none;
    background-color: transparent;
  }
  .form-login-wrapper input::placeholder {
    border:none;
    background-color: transparent;
    opacity: 0.5;
    font-size: 13px;

  }

  .form-login-wrapper input:focus {
      outline: none;
  }
  

.form-login-wrapper  .input-group{
    border: 1px #d7d7d7  solid;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0px;
    opacity: 0.5;
  }


